---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { AboutPage } from "@/components/pages/AboutPage";
import { siteConfig } from "@/site.config";

const title = "About";
const description = siteConfig.author.bio;
---

<BaseLayout
  title={title}
  description={description}
  type="profile"
  isAuthorPage={true}
>
  <div class="fixed inset-0 -z-50 pointer-events-none">
    <div
      class="absolute inset-0 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-size-[14px_24px]"
    >
    </div>
    <div
      class="absolute top-0 left-0 right-0 h-125 bg-linear-to-b from-primary/5 to-transparent"
    >
    </div>
  </div>

  <AboutPage client:load />
</BaseLayout>
