---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li><strong>TypeScript</strong></li>
    <li><strong>Node.js</strong></li>
    <li><strong>React.js</strong></li>
    <li><strong>Astro</strong></li>
    <li><strong>TailwindCSS</strong></li>
    <li><strong>Python</strong></li>
    <li><strong>Flask</strong></li>
    <li><strong>FastAPI</strong></li>
    <li><strong>AWS</strong></li>
  </ul>
</Card>
