---
import "../styles/global.css";
import { Navbar } from "@/components/layout/Navbar";
import { Footer } from "@/components/layout/Footer";
import SEO from "@/components/SEO.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Muhammad Fiaz - Full-stack developer and open-source maintainer.",
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} image={image} />
    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme-storage")
        ) {
          try {
            const storage = JSON.parse(localStorage.getItem("theme-storage"));
            return storage.state.theme;
          } catch (e) {
            return "dark"; // Fallback
          }
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const theme = getThemePreference();
      const isDark =
        theme === "dark" ||
        (theme === "system" &&
          window.matchMedia("(prefers-color-scheme: dark)").matches);
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");
    </script>
    <slot name="head" />
  </head>
  <body class="bg-background font-sans antialiased">
    <Navbar client:load />
    <main class="flex-1 w-full">
      <slot />
    </main>
  </body>
</html>
